﻿@page
@using Common
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-sm-12 text-center">
        <h2>Current fan speed:</h2>
        <h2 id="fan-speed-reading"></h2>
        <h2>Temperature:</h2>
        <h2 id="temperature-reading"></h2>
    </div>
    <br />
    <div class="col-sm-12">
        <span>Target temperature: </span>
        <input id="target-temp" type="number"/>
        <button onclick="start()" class="btn btn-primary">Start</button>
    </div>
    <br />
    <div class="col-sm-12 col-md-6">
        <canvas id="result-chart" height="500"></canvas>
    </div>
    <div class="col-sm-12 col-md-6">
        <canvas id="temp-chart" height="500"></canvas>
    </div>
</div>
<hr />
<div class="row">
    <h4>Historical data</h4>
    <div class="col-sm-12">
        <span>From: </span>
        <input id="from-date" type="datetime-local"/>
        <span>To: </span>
        <input id="to-date" type="datetime-local"/>
        <button onclick="fetchHistoricalData()" class="btn btn-primary">Get</button>
    </div>
    <br />
    <div class="col-sm-12 col-md-6">
        <canvas id="result-historical-chart" height="500"></canvas>
    </div>
    <div class="col-sm-12 col-md-6">
        <canvas id="temp-historical-chart" height="500"></canvas>
    </div>
</div>